@tailwind base;
@tailwind components;
@tailwind utilities;


*{


  @apply dark:text-white text-gray-800 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  text-decoration-color: orange;

  
}